.body-col-wrapper {
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.body-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.body-col-1 {
  width: -webkit-calc(33.3% - (#{$spacing-unit} / 2));
  width:         calc(33.3% - (#{$spacing-unit} / 2));
}

.body-col-2 {
  width: -webkit-calc(33.3% - (#{$spacing-unit} / 2));
  width:         calc(33.3% - (#{$spacing-unit} / 2));
}

.body-col-3 {
  width: -webkit-calc(33.3% - (#{$spacing-unit} / 2));
  width:         calc(33.3% - (#{$spacing-unit} / 2));
}
